<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidgpt_pro">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidGPTPro"
        tools:targetApi="31">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ProfileEditActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".QRScannerActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".EventMyActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".EventAllDetailActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".EventCreateActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".EventCreateCompletedActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".EventMyDetailActivity"
            android:exported="true">
        </activity>

        <activity android:name=".EventQRDetailActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".AttendeeCountActivity"
            android:theme="@style/PopMe"
            android:exported="true">
        </activity>

        <activity
            android:name=".SendNotificationActivity"
            android:theme="@style/PopMe"
            android:exported="true">
        </activity>

        <activity android:name=".GeoLocationActivity"
            android:exported="true">
        </activity>

        <activity android:name=".EventAllActivity"
            android:exported="true">
        </activity>

        <activity android:name=".EventCheckInMap"
            android:theme="@style/PopMe"
            android:exported="true">
        </activity>
        <provider
            android:authorities="com.example.androidgpt_pro"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>
</manifest>